<VirtualHost *:80>
  ServerAdmin webmaster@localhost
  ServerName dev.loadbalancer.fr

  DocumentRoot {{ document_root }}

  <Directory {{ document_root }} >
      AllowOverride None
      Order Allow,Deny
      Allow from All
  </Directory>

  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>